@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './primevue' layer(components);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray: #f6f7f9;
  --color-error: var(--color-red-600);
  --color-warning: var(--color-yellow-500);

  --font-body: 'Wix Madefor Display', 'sans-serif';

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --z-base: 0;
  --z-dropdown: 10;
  --z-sticky: 20;
  --z-fixed: 30;
  --z-modal: 40;
  --z-toast: 50;
  --z-tooltip: 60;
  --z-overlay: 100;
  --z-max: 9999;
}

@layer components {
  .pulse-dot {
    @apply flex h-4 w-4 items-center justify-center rounded-full bg-primary/30;

    &::before {
      @apply h-2 w-2 rounded-full bg-primary content-[''];
    }
  }
}

@layer utilities {
  .container {
    @apply px-4 xl:px-0;
  }
}
